<!DOCTYPE html>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<%= stylesheet_link_tag "138.css" %>
<head>

	<title>Gestão de Atendimento de Tatulândia</title>


	<!-- to correct the unsightly Flash of Unstyled Content. http://www.bluerobot.com/web/css/fouc.asp -->

	<script type="text/javascript"></script>

	<%= stylesheet_link_tag "teste" %>

	<link rel="Shortcut Icon" type="image/x-icon" href="http://www.csszengarden.com/favicon.ico" />	

	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.csszengarden.com/zengarden.xml" />

</head>

<body>



<div id="container"> 

	<div>

		<div id="pageHeader">

			<h1><span>css Zen Garden</span></h1>

			<h2><span>The Beauty of <acronym title="Cascading Style Sheets">CSS</acronym> Design</span></h2>

		</div>

				<div id="footer">

			<%= link_to "Página Inicial", root_path %> &nbsp; 

			<a href="login.html" title="">Sair</a>
		</div>

		<!-- Aqui vai colocar as outras views-->
		<div id="resultado">
		<%= yield %>
		</div>
		
	</div>

	<div id="linkList">

                <div id="linkList2">

                        <div id="lselect">

                                <h3 class="select"><span>Select a Design:</span></h3>

                                <ul>
                                        <!-- o original era do tipo: <li><a href="?cssfile=/210/210.css&amp;page=0" title="AccessKey: d" accesskey="d">Oceanscape</a> by <a href="http://www.pixel-house.com.au/" class="c">Justin Gray</a></li> -->
										<li><%= link_to "Busca por Cidadao", prontuarios_path %></li>

										<li><%= link_to "Busca por Exame", exames_path %></li>

                                        <li><%= link_to "Novos Pacientes", prontuarios_path %></li>

                                        <li><%= link_to "Meus Pacientes", prontuarios_path %></li>

                                        <li><%= link_to "Exames prontos", exames_path %></li>

                                </ul>

                        </div>

                </div>

	</div>



</div>



<!-- These extra divs/spans may be used as catch-alls to add extra imagery. -->

<div id="extraDiv1"><span></span></div><div id="extraDiv2"><span></span></div><div id="extraDiv3"><span></span></div>

<div id="extraDiv4"><span></span></div><div id="extraDiv5"><span></span></div><div id="extraDiv6"><span></span></div>



</body>

</html>


